$primary-color: #100e17;
$btn-primary: #00AF9C;
$btn-primary-hover: #009498;
$secondary-color: #FAF7FF;
$btn-secondary-hover: #3A3941;
$btn-secondary-marked: #6c757d;


body {
  background-color: $primary-color;
}

main {
  margin: 48px;
}

.create-task, .task-inputs {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}

.create-task .btn-primary {
  background-color: $btn-primary;
  border-color: $btn-primary;
}

.create-task .btn-primary:hover {
  background-color: $btn-primary-hover;
  border-color: $btn-primary-hover;
}

.filter-buttons {
  text-align: right;
}

.filter-buttons button {
  margin-left: 4px;
}

.filter-buttons .btn-outline-secondary {
  border-color: $secondary-color;
  color: $secondary-color;
}

.filter-buttons .btn-outline-secondary:hover {
  background-color: $btn-secondary-hover;
  border-color: $btn-secondary-hover;
}

.filter-buttons .btn-outline-secondary:disabled {
  border-color: $btn-secondary-marked;
}

.filter-buttons .btn-outline-secondary:disabled:hover {
  background-color: transparent;
}

.tasks-section {
  margin: 48px auto;
}

.task-inputs {
  color: $secondary-color;
}

.task-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.task-group input, .task-group label {
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: $btn-secondary-marked;
}

.task-group label {
  flex: auto;
  margin-right: 8px;
  border-radius: 4px;
  padding: 0 4px;
}

.task-group label:hover {
  background-color: $btn-secondary-hover;
}

.task-group button {
  height: 24px;
  font-size: 10px;
  padding: .2rem .45rem;
}
