$font-size-lg: 18px;
$font-size-sm: 16px;
$font-size-xs: 12px;
$primary-color: #100e17;
$btn-primary: #00AF9C;
$btn-primary-hover: #009498;
$secondary-color: #FAF7FF;
$btn-secondary-hover: #3A3941;
$btn-secondary-marked: #6c757d;
$danger-color: #dc3545;

@mixin btn-size($height, $font-size, $padding-vertical, $padding-horizontal) {
  height: $height;
  font-size: $font-size !important;
  padding: $padding-vertical $padding-horizontal !important;
}


body {
  background-color: $primary-color;
}

main {
  margin: 48px;
  font-size: $font-size-lg;
}

.create-task, .task-inputs, .alert-danger {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
}

.create-task {
  .btn-primary {
    background-color: $btn-primary;
    border-color: $btn-primary;
  }

  .btn-primary:hover, .btn-primary:active:focus {
    background-color: $btn-primary-hover;
    border-color: $btn-primary-hover;
  }
}

.filter-buttons {
  button {
    margin-left: 4px;
  }

  .btn-outline-secondary {
    border-color: $secondary-color;
    color: $secondary-color;
  }

  .btn-outline-secondary:hover, .btn-outline-secondary:active:focus {
    background-color: $btn-secondary-hover;
    border-color: $btn-secondary-hover;
  }

  .btn-outline-secondary:disabled {
    border-color: $btn-secondary-marked;
  }

  .btn-outline-secondary:disabled:hover {
    background-color: transparent;
  }
}

.tasks-section {
  margin: 48px auto;
}

.task-inputs {
  color: $secondary-color;
}

.task-group {
  margin-bottom: 8px;

  input[type="checkbox"], .task-container {
    cursor: pointer;
  }

  .task-container {
    flex: auto;
    margin-right: 8px;
    border-radius: 4px;
    padding: 0 4px;

    .date-created {
      min-width: 90px;
      margin-left: 8px;
      padding: 2px 4px;
      border-radius: 8px;
      font-size: $font-size-xs;
      background-color: $btn-secondary-hover;
      color: $btn-secondary-marked;
    }

    input {
      height: 26px;
      font-size: $font-size-lg;
      color: $primary-color;
      padding-left: 8px;
    }
  }

  .task-container:hover {
    background-color: $btn-secondary-hover;
  }

  button {
    height: 24px;
    font-size: 10px;
    padding: .2rem .45rem;
  }
}

.delete-button {
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 48px;

  .delete-button i {
    font-size: $font-size-lg;
  }
}

.alert-container {
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 100px;
  z-index: 1000;

  .alert-danger button {
    outline: none;
  }
}

.checked {
  text-decoration: line-through;
  color: $btn-secondary-marked;
}


@media (max-width: 767px) {
  main {
    font-size: $font-size-sm;
  }

  .create-task button, .create-task input, .filter-buttons button {
    @include btn-size(34px, $font-size-sm, 3px, 6px);
  }

  .task-group .task-container input {
    height: 24px;
    font-size: $font-size-sm;
  }

  .date-created {
    font-size: $font-size-xs;
  }
}

@media (max-width: 575px) {
  .create-task, .task-inputs, .alert-danger {
    width: 90%;
  }

  .filter-buttons {
    button {
      display: block;
      width: 100%;
      margin-bottom: 8px;
    }
  }

  .delete-button {
    right: calc(50% - 25px);
  }
}
